In [11]:
import torch
from torch.utils.data import Dataset
import pandas as pd
import numpy as np

In [12]:
df = pd.read_json('matches.jsonl', lines=True)

df

,match_id,summoner_id,team_key,position,game_length_second,summoner_level,champion_id,trinket_item,item_0,item_1,...,death,assist,neutral_minion_kill,gold_earned,total_heal,result,role,lane,individual_position,team_position
0,KR_6988447866,Hf53SP7jqpACVSR5pVHYCnJNgaO00xmv7yHEF0UhAYKpvvE,100,MIDDLE,1986,210,17,3363,3135,6653,...,6,10,8,13826,4624,0,DUO,MIDDLE,TOP,TOP
1,KR_6988447866,hJwiBotmkw1satykCtXAXzlHQE_wZxy3uU4DZ7wYqC5A6A,100,JUNGLE,1986,639,64,3340,3071,6610,...,4,8,215,14601,26467,0,NONE,JUNGLE,JUNGLE,JUNGLE
2,KR_6988447866,UjHUSaaiEVgZrvC3zeBCLmv_K8m0R87MSicrbkHiQQqKO3E,100,MIDDLE,1986,407,43,3340,3158,4629,...,4,10,6,12428,2574,0,DUO,MIDDLE,MIDDLE,MIDDLE
3,KR_6988447866,NbANlXEPqOOiCIz28URsaP3SsZ4aXZOM8Tbwu2uGPKoFbM...,100,BOTTOM,1986,126,110,3363,3091,3087,...,5,3,12,13612,5394,0,CARRY,BOTTOM,BOTTOM,BOTTOM
4,KR_6988447866,S3gB7SbBOsjIKzjd2VLEKOjGkEqdAhdNhO64tE-jiferf9Q,100,BOTTOM,1986,306,111,3364,3050,3876,...,8,9,0,8203,1,0,SUPPORT,BOTTOM,UTILITY,UTILITY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111705,KR_6982913850,tkxAMy6VVTwvOLVijcGH1p8PnpRO35IVhx2FbdBeTIF0t8g,200,NONE,1110,242,121,3364,1102,3142,...,3,2,90,7333,9323,0,SUPPORT,NONE,JUNGLE,JUNGLE
111706,KR_6982913850,5m7MJ3ADFnDUGBlrXGMsJjIS5quyjdsrtlO98bC_UROqiBE,200,NONE,1110,224,516,3340,2031,6664,...,3,4,0,5879,234,0,SUPPORT,NONE,TOP,TOP
111707,KR_6982913850,t0vCMmzuRRUsxwIB3j6Gt-5m73Exf2GFr9I6IAdapmDEiP0,200,NONE,1110,431,103,3340,3020,2055,...,4,0,0,7268,2013,0,SUPPORT,NONE,MIDDLE,MIDDLE
111708,KR_6982913850,8FZb64fNWnULPhXbivrkS_ytylESTJ01EtiS4gjq7vjFC4...,200,NONE,1110,67,236,3340,1055,3006,...,6,0,0,6668,1746,0,SUPPORT,NONE,BOTTOM,BOTTOM
111709,KR_6982913850,B8qzIPQz0rskyBwd0hIxtDhC-d0fXXj_o8bomVaBEZJ1qI8,200,NONE,1110,402,22,3364,3179,0,...,9,3,0,4548,0,0,SUPPORT,NONE,UTILITY,UTILITY

In [13]:
new_data = []

# 각 팀별로 데이터를 수집합니다.
for i in range(0, len(df), 5):  # 여기서는 예시 데이터가 2개밖에 없으므로, 실제 데이터에 맞게 조정해야 합니다.
    team_data = df.iloc[i:i+5]  # 5개의 row를 선택 (실제 데이터가 5개 이상일 때 유효)
    if not team_data.empty:
        champion_ids = team_data['champion_id'].tolist()
        result = team_data['result'].iloc[0]  # 가정: 한 팀 내 모든 row의 승리 여부가 동일합니다.
        new_data.append(champion_ids + [result])

# 새로운 DataFrame 생성
columns = [f'user{i+1}' for i in range(5)] + ['win']
new_df = pd.DataFrame(new_data, columns=columns)

print(new_df)

       user1  user2  user3  user4  user5  win
0         17     64     43    110    111    0
1        516    141    136    222     48    1
2        126    163    950    221    555    1
3         68    234    777     81    412    0
4         75     64     91    145    268    0
...      ...    ...    ...    ...    ...  ...
22337    221    350     32    103     98    0
22338     76    266    111    523    777    0
22339    517     57     21     58     91    1
22340     82     76    238     29     89    1
22341    121    516    103    236     22    0

[22342 rows x 6 columns]

In [35]:

def sigmoid(x):
    return 1 / (1 + np.exp(-x))

def calculate_score(comb_winrate, self_winrate, play_count, mu_play_matrix, sigma_play_matrix ,alpha=1):
    x = alpha * ((play_count - mu_play_matrix) / sigma_play_matrix)

    weight = sigmoid(x)

    score = comb_winrate * weight + self_winrate * (1 - weight)

    return score

# synergy_set with score
def get_synergy_set(most3_champions, n_champion, win_rate, self_winrate, play_matrix):
    mu_play_matrix = np.mean(play_matrix)
    sigma_play_matrix = np.std(play_matrix)

    synergy_set = dict()
    for i in most3_champions:
        for j in range(n_champion):
            if i != j:
                score = calculate_score(win_rate[i, j], self_winrate[i], play_matrix[i, j], mu_play_matrix, sigma_play_matrix)
                if synergy_set.get(j) is None:
                    synergy_set[j] = score
                else:
                    synergy_set[j] += score

    print(synergy_set)

    synergy_set = sorted(synergy_set.items(), key=lambda x: x[1], reverse=True)[:10]

    return synergy_set

In [17]:
import json

with open('champion_name_key.json', 'r') as f:
    champion_name_key = json.load(f)

champion_name_key

{'266': 'Aatrox',
 '103': 'Ahri',
 '84': 'Akali',
 '166': 'Akshan',
 '12': 'Alistar',
 '32': 'Amumu',
 '34': 'Anivia',
 '1': 'Annie',
 '523': 'Aphelios',
 '22': 'Ashe',
 '136': 'AurelionSol',
 '268': 'Azir',
 '432': 'Bard',
 '200': 'Belveth',
 '53': 'Blitzcrank',
 '63': 'Brand',
 '201': 'Braum',
 '233': 'Briar',
 '51': 'Caitlyn',
 '164': 'Camille',
 '69': 'Cassiopeia',
 '31': 'Chogath',
 '42': 'Corki',
 '122': 'Darius',
 '131': 'Diana',
 '119': 'Draven',
 '36': 'DrMundo',
 '245': 'Ekko',
 '60': 'Elise',
 '28': 'Evelynn',
 '81': 'Ezreal',
 '9': 'Fiddlesticks',
 '114': 'Fiora',
 '105': 'Fizz',
 '3': 'Galio',
 '41': 'Gangplank',
 '86': 'Garen',
 '150': 'Gnar',
 '79': 'Gragas',
 '104': 'Graves',
 '887': 'Gwen',
 '120': 'Hecarim',
 '74': 'Heimerdinger',
 '910': 'Hwei',
 '420': 'Illaoi',
 '39': 'Irelia',
 '427': 'Ivern',
 '40': 'Janna',
 '59': 'JarvanIV',
 '24': 'Jax',
 '126': 'Jayce',
 '202': 'Jhin',
 '222': 'Jinx',
 '145': 'Kaisa',
 '429': 'Kalista',
 '43': 'Karma',
 '30': 'Karthus',
 '38': 'Kassadin',
 '55': 'Katarina',
 '10': 'Kayle',
 '141': 'Kayn',
 '85': 'Kennen',
 '121': 'Khazix',
 '203': 'Kindred',
 '240': 'Kled',
 '96': 'KogMaw',
 '897': 'KSante',
 '7': 'Leblanc',
 '64': 'LeeSin',
 '89': 'Leona',
 '876': 'Lillia',
 '127': 'Lissandra',
 '236': 'Lucian',
 '117': 'Lulu',
 '99': 'Lux',
 '54': 'Malphite',
 '90': 'Malzahar',
 '57': 'Maokai',
 '11': 'MasterYi',
 '902': 'Milio',
 '21': 'MissFortune',
 '62': 'MonkeyKing',
 '82': 'Mordekaiser',
 '25': 'Morgana',
 '950': 'Naafiri',
 '267': 'Nami',
 '75': 'Nasus',
 '111': 'Nautilus',
 '518': 'Neeko',
 '76': 'Nidalee',
 '895': 'Nilah',
 '56': 'Nocturne',
 '20': 'Nunu',
 '2': 'Olaf',
 '61': 'Orianna',
 '516': 'Ornn',
 '80': 'Pantheon',
 '78': 'Poppy',
 '555': 'Pyke',
 '246': 'Qiyana',
 '133': 'Quinn',
 '497': 'Rakan',
 '33': 'Rammus',
 '421': 'RekSai',
 '526': 'Rell',
 '888': 'Renata',
 '58': 'Renekton',
 '107': 'Rengar',
 '92': 'Riven',
 '68': 'Rumble',
 '13': 'Ryze',
 '360': 'Samira',
 '113': 'Sejuani',
 '235': 'Senna',
 '147': 'Seraphine',
 '875': 'Sett',
 '35': 'Shaco',
 '98': 'Shen',
 '102': 'Shyvana',
 '27': 'Singed',
 '14': 'Sion',
 '15': 'Sivir',
 '72': 'Skarner',
 '901': 'Smolder',
 '37': 'Sona',
 '16': 'Soraka',
 '50': 'Swain',
 '517': 'Sylas',
 '134': 'Syndra',
 '223': 'TahmKench',
 '163': 'Taliyah',
 '91': 'Talon',
 '44': 'Taric',
 '17': 'Teemo',
 '412': 'Thresh',
 '18': 'Tristana',
 '48': 'Trundle',
 '23': 'Tryndamere',
 '4': 'TwistedFate',
 '29': 'Twitch',
 '77': 'Udyr',
 '6': 'Urgot',
 '110': 'Varus',
 '67': 'Vayne',
 '45': 'Veigar',
 '161': 'Velkoz',
 '711': 'Vex',
 '254': 'Vi',
 '234': 'Viego',
 '112': 'Viktor',
 '8': 'Vladimir',
 '106': 'Volibear',
 '19': 'Warwick',
 '498': 'Xayah',
 '101': 'Xerath',
 '5': 'XinZhao',
 '157': 'Yasuo',
 '777': 'Yone',
 '83': 'Yorick',
 '350': 'Yuumi',
 '154': 'Zac',
 '238': 'Zed',
 '221': 'Zeri',
 '115': 'Ziggs',
 '26': 'Zilean',
 '142': 'Zoe',
 '143': 'Zyra'}

In [18]:
index2name = {v: k for k, v in enumerate(champion_name_key.keys())}
name2idx = {k: v for k, v in enumerate(champion_name_key.keys())}

In [46]:
fake_player_most = [81, 222, 202]
fake_player_most_idx = [index2name[str(i)] for i in fake_player_most]

In [48]:
fake_player_most_idx

[30, 52, 51]

In [20]:
# champion 개별 승률
user_cross1 = pd.crosstab(new_df['user1'], new_df['win'])
user_cross1['win_rate'] = user_cross1[1] / (user_cross1[0] + user_cross1[1])
user_cross1 = user_cross1.sort_values(by='win_rate', ascending=False)

user_cross2 = pd.crosstab(new_df['user2'], new_df['win'])
user_cross2['win_rate'] = user_cross2[1] / (user_cross2[0] + user_cross2[1])
user_cross2 = user_cross2.sort_values(by='win_rate', ascending=False)

user_cross3 = pd.crosstab(new_df['user3'], new_df['win'])
user_cross3['win_rate'] = user_cross3[1] / (user_cross3[0] + user_cross3[1])
user_cross3 = user_cross3.sort_values(by='win_rate', ascending=False)

user_cross4 = pd.crosstab(new_df['user4'], new_df['win'])
user_cross4['win_rate'] = user_cross4[1] / (user_cross4[0] + user_cross4[1])
user_cross4 = user_cross4.sort_values(by='win_rate', ascending=False)

user_cross5 = pd.crosstab(new_df['user5'], new_df['win'])
user_cross5['win_rate'] = user_cross5[1] / (user_cross5[0] + user_cross5[1])
user_cross5 = user_cross5.sort_values(by='win_rate', ascending=False)

# champion cross table 합하기
user_cross = user_cross1.add(user_cross2, fill_value=0).add(user_cross3, fill_value=0).add(user_cross4, fill_value=0).add(user_cross5, fill_value=0)
user_cross['win_rate'] = user_cross[1] / (user_cross[0] + user_cross[1])
user_cross = user_cross.sort_values(by='win_rate', ascending=False)

user_cross

win    0    1  win_rate
6    100  138  0.579832
37    37   51  0.579545
8     87  119  0.577670
133   74   97  0.567251
427   77   99  0.562500
..   ...  ...       ...
85   145  110  0.431373
90   110   82  0.427083
42   136   98  0.418803
120  103   73  0.414773
105  123   85  0.408654

[167 rows x 3 columns]

In [22]:
N = 167

play_matrix = np.zeros((N, N), dtype=int)

print(new_df)
for d in new_df.values:
    for i in range(5):
        for j in range(i+1, 5):
            play_matrix[index2name[str(d[i])], index2name[str(d[j])]] += 1
            play_matrix[index2name[str(d[j])], index2name[str(d[i])]] += 1

play_matrix

       user1  user2  user3  user4  user5  win
0         17     64     43    110    111    0
1        516    141    136    222     48    1
2        126    163    950    221    555    1
3         68    234    777     81    412    0
4         75     64     91    145    268    0
...      ...    ...    ...    ...    ...  ...
22337    221    350     32    103     98    0
22338     76    266    111    523    777    0
22339    517     57     21     58     91    1
22340     82     76    238     29     89    1
22341    121    516    103    236     22    0

[22342 rows x 6 columns]

array([[  0, 155,  76, ...,  16,  18,  37],
       [155,   0,  27, ...,  20,   4,  34],
       [ 76,  27,   0, ...,  16,   1,  18],
       ...,
       [ 16,  20,  16, ...,   0,   2,   2],
       [ 18,   4,   1, ...,   2,   0,   5],
       [ 37,  34,  18, ...,   2,   5,   0]])

In [24]:
win_count = np.zeros((N, N), dtype=int)

for d in new_df.values:
    if d[5] == 1:
        for i in range(5):
            for j in range(i+1, 5):
                win_count[index2name[str(d[i])], index2name[str(d[j])]] += 1
                win_count[index2name[str(d[j])], index2name[str(d[i])]] += 1


win_count

array([[ 0, 83, 34, ...,  8,  8, 13],
       [83,  0, 13, ...,  7,  2, 18],
       [34, 13,  0, ...,  8,  1,  9],
       ...,
       [ 8,  7,  8, ...,  0,  1,  0],
       [ 8,  2,  1, ...,  1,  0,  3],
       [13, 18,  9, ...,  0,  3,  0]])

In [25]:
eps = 1e-10

win_rate = win_count / (play_matrix + eps)
win_rate[np.isnan(win_rate)] = 0
win_rate[np.isinf(win_rate)] = 0

for i in range(N):
    win_rate[i, i] = 0.5

win_rate

array([[0.5       , 0.53548387, 0.44736842, ..., 0.5       , 0.44444444,
        0.35135135],
       [0.53548387, 0.5       , 0.48148148, ..., 0.35      , 0.5       ,
        0.52941176],
       [0.44736842, 0.48148148, 0.5       , ..., 0.5       , 1.        ,
        0.5       ],
       ...,
       [0.5       , 0.35      , 0.5       , ..., 0.5       , 0.5       ,
        0.        ],
       [0.44444444, 0.5       , 1.        , ..., 0.5       , 0.5       ,
        0.6       ],
       [0.35135135, 0.52941176, 0.5       , ..., 0.        , 0.6       ,
        0.5       ]])

In [26]:

self_win_rate = np.zeros(N, )

for i in range(N):
    self_win_rate[i] = user_cross.loc[int(name2idx[i]), 'win_rate']

self_win_rate

array([0.49490835, 0.52427714, 0.45717036, 0.52824859, 0.53198653,
       0.50931677, 0.55128205, 0.55813953, 0.45816187, 0.51594614,
       0.50401606, 0.51658768, 0.56012658, 0.5       , 0.50498849,
       0.52719033, 0.53443526, 0.48553055, 0.47177108, 0.52313883,
       0.48015873, 0.53378378, 0.41880342, 0.47457627, 0.45581395,
       0.48139535, 0.52400835, 0.50086957, 0.53353659, 0.50409836,
       0.46415373, 0.51438849, 0.51569507, 0.40865385, 0.53543307,
       0.52109181, 0.45814978, 0.48051948, 0.51236749, 0.50151362,
       0.50359712, 0.41477273, 0.51428571, 0.47438596, 0.49709302,
       0.48923679, 0.5625    , 0.51075269, 0.49462366, 0.54188211,
       0.5215655 , 0.48359073, 0.54533153, 0.49075975, 0.47818792,
       0.49766573, 0.55654762, 0.45816733, 0.4812362 , 0.51744186,
       0.48666667, 0.43137255, 0.50439367, 0.46389497, 0.55      ,
       0.52962963, 0.46902655, 0.47638327, 0.50177936, 0.5375    ,
       0.50724638, 0.48251748, 0.49940048, 0.50805687, 0.46660808,
       0.49836423, 0.42708333, 0.52547453, 0.48873484, 0.51503759,
       0.47922438, 0.48043478, 0.46572104, 0.46104928, 0.49671053,
       0.52307692, 0.5261194 , 0.49303008, 0.49862637, 0.51136364,
       0.54148472, 0.47641509, 0.46056782, 0.48627451, 0.47843666,
       0.52620968, 0.53295669, 0.51108647, 0.48085106, 0.47368421,
       0.56725146, 0.53921569, 0.53666667, 0.53776978, 0.5106383 ,
       0.5026178 , 0.50364964, 0.46511628, 0.44476744, 0.49737303,
       0.48484848, 0.47857143, 0.49885057, 0.53149891, 0.51521739,
       0.49806202, 0.44382647, 0.50877193, 0.49612403, 0.46242775,
       0.47777778, 0.53041363, 0.48214286, 0.51525686, 0.57954545,
       0.52336449, 0.48584906, 0.49623588, 0.50561798, 0.52415027,
       0.51478495, 0.518     , 0.54347826, 0.50829876, 0.4904668 ,
       0.50526316, 0.48477752, 0.46067416, 0.51990632, 0.50128535,
       0.49758454, 0.57983193, 0.48238255, 0.51491713, 0.52649007,
       0.53672316, 0.51948052, 0.49342105, 0.47321429, 0.48042705,
       0.5776699 , 0.50649351, 0.5       , 0.48553719, 0.48472505,
       0.51138716, 0.50236008, 0.47718447, 0.54807692, 0.51948052,
       0.50047214, 0.50053135, 0.5026178 , 0.46341463, 0.5375    ,
       0.53962264, 0.52446184])

In [33]:
for i in range(N):
    win_rate[i, i] = self_win_rate[i]

win_rate

array([[0.49490835, 0.53548387, 0.44736842, ..., 0.5       , 0.44444444,
        0.35135135],
       [0.53548387, 0.52427714, 0.48148148, ..., 0.35      , 0.5       ,
        0.52941176],
       [0.44736842, 0.48148148, 0.45717036, ..., 0.5       , 1.        ,
        0.5       ],
       ...,
       [0.5       , 0.35      , 0.5       , ..., 0.5375    , 0.5       ,
        0.        ],
       [0.44444444, 0.5       , 1.        , ..., 0.5       , 0.53962264,
        0.6       ],
       [0.35135135, 0.52941176, 0.5       , ..., 0.        , 0.6       ,
        0.52446184]])

In [49]:
ss = get_synergy_set(fake_player_most_idx, N, win_rate, self_win_rate, play_matrix)

{0: 1.5032546132441607, 1: 1.5806148513979152, 2: 1.4183111480647166, 3: 1.6569126897095945, 4: 1.491658857519695, 5: 1.4833156985397349, 6: 1.6547067217585345, 7: 1.6965053059013777, 8: 1.5747535948173688, 9: 1.2799780649214187, 10: 1.4698350181598514, 11: 1.5685428256773686, 12: 1.6899628846009653, 13: 1.59859603024845, 14: 1.4942854046118577, 15: 1.6175368402632808, 16: 1.552745705493153, 17: 1.5678050288349406, 18: 1.5006342397934165, 19: 1.616526346190257, 20: 1.5593694552064894, 21: 1.6642287071659572, 22: 1.3602958204975983, 23: 1.4587326475233042, 24: 1.4183214198708454, 25: 1.4453829955668775, 26: 1.6831256505526462, 27: 1.59518833132527, 28: 1.7612832297879275, 29: 1.4376333850464214, 31: 1.6258510403906812, 32: 1.5753831818543642, 33: 1.430948454966914, 34: 1.5462294635308536, 35: 1.514635734231766, 36: 1.4548890950790971, 37: 1.3761183154302046, 38: 1.4730668247845515, 39: 1.6118157757166212, 40: 1.4755150019040784, 41: 1.400502679354229, 42: 1.481450013216011, 43: 1.3881958368172995, 44: 1.5924384167838017, 45: 1.5165639737417034, 46: 1.5627278709169388, 47: 1.4818327839017515, 48: 1.3300426417853273, 49: 1.6563506246781172, 50: 1.5410452124477456, 51: 1.0264645248799846, 52: 0.9493371080248172, 53: 1.370212845729013, 54: 1.5388137684356173, 55: 1.5637476421326326, 56: 1.5907654517227514, 57: 1.346000715949205, 58: 1.4012482805237294, 59: 1.6409565788887632, 60: 1.4084540421697476, 61: 1.4387087281194466, 62: 1.6050625226921613, 63: 1.5228974007386387, 64: 1.519827561217629, 65: 1.3878023789775722, 66: 1.4820414268143445, 67: 1.4703600169904782, 68: 1.4437334032324127, 69: 1.4768188049096909, 70: 1.4012823954787428, 71: 1.3632372451164394, 72: 1.2537463704193472, 73: 1.5335572897138516, 74: 1.3980504212730702, 75: 1.4722698074129776, 76: 1.3246716807434278, 77: 1.5636969021225016, 78: 1.322805423684134, 79: 1.4276024562244345, 80: 1.554215345710285, 81: 1.393830921052423, 82: 1.30459996626815, 83: 1.5451230000899543, 84: 1.6645708693114423, 85: 1.3451300840084923, 86: 1.5467708471236699, 87: 1.410734507006663, 88: 1.4368839823659894, 89: 1.5366879788834535, 90: 1.093928035004149, 91: 1.5427270181614507, 92: 1.4375297314617081, 93: 1.2798441910541443, 94: 1.4395176205072588, 95: 1.538421888793379, 96: 1.6414434118010162, 97: 1.5356714934417655, 98: 1.5058661527408084, 99: 1.3612390603255915, 100: 1.5860266798151839, 101: 1.6194005718843258, 102: 1.6031692151077164, 103: 1.645743649580605, 104: 1.5924109607714487, 105: 1.382536772117673, 106: 1.6151804118762902, 107: 1.4846545663492623, 108: 1.2428964145756625, 109: 1.4293066721219816, 110: 1.4648591932526926, 111: 1.1317381108418114, 112: 1.2413511665077457, 113: 1.5005606233924054, 114: 1.3881582466356703, 115: 1.4727602293443403, 116: 1.4118414540521043, 117: 1.4649558010821375, 118: 1.6154275326351002, 119: 1.4450582159722494, 120: 1.5266320304457335, 121: 1.6618518279666137, 122: 1.3638801160356655, 123: 1.3980047553423485, 124: 1.807944010921198, 125: 1.616610677773018, 126: 1.5630240943426532, 127: 1.488955002308567, 128: 1.4992712196217255, 129: 1.7124213765164202, 130: 1.484093654158702, 131: 1.6187720128281424, 132: 1.7201064227503444, 133: 1.4957627919847498, 134: 1.4036121943061166, 135: 1.5517094308052894, 136: 1.5872289149720138, 137: 1.305269793592954, 138: 1.5361980930282362, 139: 1.625536303103113, 140: 1.4676324479409963, 141: 1.5891810242644138, 142: 1.2259480665777998, 143: 1.4218808459129635, 144: 1.627758832183587, 145: 1.438749920358764, 146: 1.5749946480165053, 147: 1.2930973812674358, 148: 1.5153502893245103, 149: 1.422666794147898, 150: 1.5932462256813977, 151: 1.3779489489385786, 152: 1.4504569783352668, 153: 1.1551242820480132, 154: 1.5131191060154567, 155: 1.447116750907029, 156: 1.4323341662985796, 157: 1.3028345632405145, 158: 1.5757194326535928, 159: 1.2744980195368163, 160: 1.5350775071811729, 161: 1.3581062375368993, 162: 1.3803052199397654, 163: 1.4555511787750004, 164: 1.5296203927040082, 165: 1.6109006612271788, 166: 1.6587881209066233, 30: 1.0115714101319564}

In [50]:
ss

[(124, 1.807944010921198),
 (28, 1.7612832297879275),
 (132, 1.7201064227503444),
 (129, 1.7124213765164202),
 (7, 1.6965053059013777),
 (12, 1.6899628846009653),
 (26, 1.6831256505526462),
 (84, 1.6645708693114423),
 (21, 1.6642287071659572),
 (121, 1.6618518279666137)]

In [52]:
print([champion_name_key[name2idx[i]] for i, _ in ss])

['Sona', 'Elise', 'Taric', 'TahmKench', 'Annie', 'Bard', 'DrMundo', 'Naafiri', 'Chogath', 'Sivir']